<div class="timeline">
    <div class="timeline__group" id="timeline_2020">
        {{#each years}}
            <span class="timeline__year">{{year}}</span>
            {{#each milestones}}
            <div class="timeline__box">
                <div class="timeline__date">
                    <span class="timeline__day">{{day}}</span>
                    <span class="timeline__month">{{month}}</span>
                </div>
                <div class="timeline__post">
                    <div class="timeline__content">
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        {{/each}}
    </div>
</div>