<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="./css/index.css">
	</head>

	<body>
		<div class="page">
			<!-- Content from views here -->
			{{{ content }}}
		</div>
	</body>
</html>